html {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: rgb(108, 111, 111);
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 23, 23);
  padding:0;
  margin: 0;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
}

#addTrip {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  display: none;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
}

#startPlan {
  display: flex;
  align-items: flex-end;
  background-image: url("https://i.imgur.com/flBtfTM.png");
  height: 500px;
  background-size: cover;
  width: 100%;
  margin: 40px 0 0 0
} 

li {
  text-decoration: none;
}
#planTrip {
  width: 80px;
  height: 30px;
  border-radius: 40%;
}

#tripView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer {
  display: flex;
  flex-shrink:0;
  height: 100px;
  width: 100%;
  background-color: black;
}
#addFlight {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/flBtfTM.png");
  height: 500px;
  background-size: cover;
  width: 100%;
  margin: 40px 0 0 0
} 

#flightSearch {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
}

#editTrip {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
}
#editForm {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
}

